/* Start Variables */
:root
{
    --main-color-50: #EFF9FF;
    --main-color-700: #026AA2;
    --gray-color-400: #AFAFAF;
    --gray-color-700: #515151;
    --gray-color-800: #373737;
    --gray-color-900: #282828;
}
/* End Variables */





/* Start Auth Layout */
.auth_container
{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.logo
{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-color: var(--main-color-50);
    position: relative;
}
.logo img
{
    width: 17%;
}
.logo h1
{
    font-size: 130px;
    font-weight: 600;
    line-height: 195px;
    color: var(--main-color-700);
}
.logo span
{
    display: none;
    position: absolute;
    bottom: 32px;
    animation-name: arrowDownMove;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    opacity: 1;
}
.logo span img
{
    width: 100%;
    filter: brightness(0) saturate(100%) invert(24%) sepia(98%) saturate(1622%) hue-rotate(180deg) brightness(94%) contrast(98%);
}
/* End Auth Layout */



/* Start Animation */
@keyframes arrowDownMove
{
    0%{
        bottom: 32px;
        opacity: 1;
    }
    100%{
        bottom: 8px;
        opacity: 0;
    }
}
/* End Animation */




/* Start Media Query */
/* Extra small devices (phones, portrait) */
@media (max-width: 575.98px) 
{
    .auth_container
    {
        grid-template-columns: repeat(1,1fr);
    }
    .logo
    {
        grid-row: 1;
    }
    .logo img
    {
        width: 25%;
    }
    .logo h1
    {
        font-size: 96px;
        line-height: 96px;
    }
    .logo span
    {
        display: flex;
    }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) 
{
    .auth_container
    {
        grid-template-columns: repeat(1,1fr);
    }
    .logo
    {
        grid-row: 1;
    }
    .logo h1
    {
        font-size: 104px;
        line-height: 104px;
    }
    .logo span
    {
        display: flex;
    }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) 
{

}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) 
{

}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) 
{

}
/* End Media Query */