/* Start Variables */
:root
{
    --main-color-100: #E0F2FE;
    --main-color-200: #B9E6FE;
    --main-color-700: #026AA2;
    --main-color-800: #00598D;
    --gray-color-400: #AFAFAF;
    --gray-color-600: #636363;
    --gray-color-700: #515151;
    --gray-color-800: #373737;
    --gray-color-900: #282828;
    --red-color-100: #FDE8E8;
    --red-color-500: #F05252;
    --green-color-400: #31C48D;
    --chat-1-color: #E0F0FF;
    --chat-2-color: #E9EAED;
}
/* End Variables */





/* Start Chats Screen */
.chats_container
{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    position: relative;
}
.chats_list_container
{
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 40px 40px 40px 32px;
    overflow-y: scroll;
    background-color: white;
}
.chats_list_container::-webkit-scrollbar
{
    display: none;
}
.search
{
    position: relative;
}
.search input
{
    width: 100%;
    border: solid 1px #747881;
    border-radius: 8px;
    padding: 8px 36px 8px 12px;
    font-size: 16px;
}
.search img
{
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
}
.search input::placeholder
{
    font-size: 16px;
    font-weight: 400;
    color: var(--gray-color-700);
}
.search input:focus
{
    outline: none;
}
.chats_list
{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.chats_list_item
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    cursor: pointer;
}
.chats_list_item_data
{
    display: flex;
    align-items: center;
    gap: 12px;
    min-width: 0;
}
.chats_list_item_photo 
{
    width: 44px;
    min-width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 44px;
    overflow: hidden;
}
.chats_list_item_photo img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.chats_list_item_content
{
    display: flex;
    flex-direction: column;
    min-width: 0;
}
.chats_list_item_content h2
{
    font-size: 16px;
    font-weight: 500;
    color: var(--gray-color-900);
    text-align: start;
    margin: 0;
}
.chats_list_item_content p
{
    font-size: 16px;
    font-weight: 500;
    color: var(--gray-color-600);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.chats_list_item_details
{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}
.chats_list_item_details .message_numebr
{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color-700);
    border-radius: 50%;
    font-size: 12px;
    font-weight: 700;
    color: white;
}
.chats_list_item_details h3
{
    white-space: nowrap;
    font-size: 14px;
    font-weight: 400;
    color: #55575D;
}
.chat_content
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.chat_content h1
{
    font-size: 64px;
    font-weight: 500;
    color: var(--gray-color-600);
}
.chat_content .chat
{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    position: relative;
}
.chat_header
{
    width: 100%;
    height: 11vh;
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 0 16px;
    border-bottom: solid 1px var(--main-color-200);
    position: relative;
}
.chat_header .chat_photo
{
    display: flex;
    align-items: center;
}
.chat_header .chat_photo img
{
    width: 44px;
    height: 44px;
    border-radius: 44px;
}
.chat_title h2
{
    font-size: 16px;
    font-weight: 500;
}
.chat_content .chat_header .chat_title h3
{
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    font-weight: 500;
    color: var(--gray-color-600);
}
.chat_content .chat_header .chat_title h3.active
{
    color: var(--green-color-400);
}
.chat_title h3.active::before
{
    content: '';
    display: flex;
    width: 12px;
    height: 12px;
    border-radius: 12px;
    background-color: var(--green-color-400);
}
.chat_header .back_btn
{
    display: none;
    position: absolute;
    left: 16px;
}
.chat_header .back_btn button
{
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: solid 2px var(--main-color-700);
    border-radius: 32px;
}
.chat_header .back_btn button img
{
    filter: brightness(0) saturate(100%) invert(15%) sepia(62%) saturate(5467%) hue-rotate(188deg) brightness(104%) contrast(98%);
}
.chat_messages_content
{
    width: 100%;
    height: 78vh;
    display: flex;
    flex-direction: column-reverse;
    gap: 16px;
    padding: 32px 24px 0 24px;
    overflow-y: scroll;
}
.chat_messages_content .message
{
    width: 100%;
    display: flex;
    justify-content: start;
}
.chat_messages_content .message.receiver
{
    width: 100%;
    display: flex;
    justify-content: end;
}
.chat_messages_content .message .message_content h2
{
    display: flex;
    align-items: center;
    width: fit-content;
    height: 46px;
    background-color: var(--chat-1-color);
    padding: 8px 16px;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 500;
    color: var(--gray-color-900);
    text-align: start;
}
.chat_messages_content .message.receiver .message_content h2
{
    background-color: var(--chat-2-color);
}
.chat_messages_content .message .message_content h3
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 500;
    color: #AFAFAF;
}
.chat_messages_content .message.receiver .message_content h3
{
    flex-direction: row-reverse;
}
.chat_messages_content .message .message_content .audio_player
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    background-color: var(--chat-1-color);
    padding: 8px 16px;
    border-radius: 12px;
    position: relative;
}
.chat_footer
{
    width: 100%;
    height: 12vh;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 24px;
}
.chat_footer img
{
    cursor: pointer;
}
.chat_footer .send_input
{
    width: 95%;
    position: relative;
}
.chat_footer .send_input input
{
    width: 100%;
    border: solid 1px var(--gray-color-400);
    border-radius: 8px;
    padding: 12px 44px 12px 112px;
    font-size: 16px;
    font-weight: 500;
}
.chat_footer .send_input input::placeholder
{
    font-size: 14px;
    font-weight: 500;
    color: #808080;
}
.chat_footer .send_input input:focus
{
    outline: none;
}
.chat_footer .send_input .imojy
{
    position: absolute;
    top: calc(50% + 4px);
    right: 16px;
    transform: translateY(-50%);
}
.chat_footer .send_input .message_media
{
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    gap: 16px;
}
.chat_footer .send_input .recording
{
    filter: brightness(0) saturate(100%) invert(15%) sepia(96%) saturate(6895%) hue-rotate(359deg) brightness(94%) contrast(111%);
}
.chat_footer .send_input .recorded
{
    filter: brightness(0) saturate(100%) invert(55%) sepia(71%) saturate(1387%) hue-rotate(86deg) brightness(100%) contrast(104%);
}
.selected {
    filter: invert(52%) sepia(94%) saturate(1468%) hue-rotate(83deg) brightness(104%) contrast(102%);
}
.chat_footer button
{
    min-width: 50px;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #B4B7BB;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}
.message_replaying
{
    position: relative;
    top: -100%;
    background-color: var(--main-color-100);
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    color: #868686;
}
/* End Chats Screen */




/* Start Media Query */
/* Extra small devices (phones, portrait) */
@media (max-width: 575.98px) 
{
    .chats_container
    {
        grid-template-columns: 1fr;
    }
    .chats_list_container
    {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 11111111111111;
    }
    .chat_header .back_btn
    {
        display: flex;
    }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) 
{
    .chats_container
    {
        grid-template-columns: 1fr;
    }
    .chats_list_container
    {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 11111111111111;
    }
    .chat_header .back_btn
    {
        display: flex;
    }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) 
{
    .chats_container
    {
        grid-template-columns: 1.5fr 2fr;
    }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) 
{

    .chats_container
    {
        grid-template-columns: 1fr 1.5fr;
    }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) 
{

}
/* End Media Query */