/* Start Variables */
:root
{
    --main-color: #026AA2;
}
/* End Variables */





/* Start Landing Page Layout */
.landing_page_layout
{
    display: flex;
    flex-direction: column;
}
.sections
{
    margin-top: 75px;
}
/* End Landing Page Layout */