/* Start Variables */
:root
{
    --main-color-100: #E0F2FE;
    --main-color-200: #B9E6FE;
    --main-color-700: #026AA2;
    --main-color-800: #00598D;
    --gray-color-400: #AFAFAF;
    --gray-color-600: #636363;
    --gray-color-700: #515151;
    --gray-color-800: #373737;
    --gray-color-900: #282828;
    --red-color-100: #FDE8E8;
    --red-color-500: #F05252;
    --green-color-400: #31C48D;
    --chat-1-color: #E0F0FF;
    --chat-2-color: #E9EAED;
}
/* End Variables */





/* Start Message Component */
.message
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    position: relative;
}
.message.receiver
{
    width: 100%;
    display: flex;
    align-items: end;
}
.message .message_content
{
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
}
.message.receiver .message_content
{
    flex-direction: row-reverse;
}
.message .message_content h2
{
    width: fit-content;
    background-color: var(--chat-1-color);
    padding: 8px 16px;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 500;
    color: var(--gray-color-900);
    text-align: start;
    position: relative;
}
.message.receiver .message_content h2
{
    background-color: var(--chat-2-color);
}
.message .message_state
{
    position: absolute;
    top: 100%;
    left: 0%;
}
.message.receiver .message_state
{
    right: 0%;
}
.message .message_emoji
{
    width: fit-content;
    position: absolute;
    bottom: calc(100% + 4px);
    left: 0%;
    padding: 0 4px;
    background-color: var(--chat-2-color);
    border-radius: 12px;
}
.message.receiver .message_emoji
{
    right: 0%;
}
.message h3
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 500;
    color: #AFAFAF;
}
.message.receiver h3
{
    flex-direction: row-reverse;
}
.message .message_options
{
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
}
.message .message_options img
{
    padding: 0 4px;
}
.message.receiver .message_options
{
    flex-direction: row-reverse;
}
.message .message_emojis
{
    position: absolute;
    bottom: calc(100% + 12px);
    left: 0;
    z-index: 1000000000000;
    display: flex;
    gap: 10px;
    background-color: white;
    padding: 8px 16px;
    border-radius: 50px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.18);
}
.message_emojis div 
{
    cursor: pointer;
    font-size: 22px;
}
.message .message_options_list
{
    position: absolute;
    bottom: calc(100% + 8px);
    left: -50%;
    z-index: 100000000000;
}
.message .message_options_list ul
{
    list-style-type: none;
    border-radius: 12px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.18);
    background-color: white;
    overflow: hidden;
}
.message .message_options_list ul li
{
    padding: 8px 24px;
    text-wrap: nowrap;
    cursor: pointer;
}
.message .message_options_list ul li:hover
{
    background-color: var(--chat-2-color);
}
.message .message_options_list ul li:last-of-type
{
    color: var(--red-color-500);
}
.message .message_options img
{
    cursor: pointer;
}
.message .message_content .photo_container
{
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--chat-1-color);
    padding: 8px;
    border-radius: 12px;
    position: relative;
}
.message .message_content .photo_container img 
{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}
.message .message_content .audio_player
{
    height: 46px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    background-color: var(--chat-1-color);
    padding: 8px 16px;
    border-radius: 12px;
    position: relative;
}
.message.receiver .message_content .audio_player
{
    background-color: var(--chat-2-color);
}
input[type='range']
{
    width: 248px;
    height: 6px;
    border-radius: 8px;
    outline: none;
    appearance: none;
    direction: ltr;
}
input[type='range']::-webkit-slider-thumb
{
    width: 16px;
    height: 16px;
    background: var(--main-color-200);
    border: solid 4px var(--main-color-700);
    border-radius: 50%;
    -webkit-appearance: none;
    cursor: pointer;
    transition-timing-function: ease-in-out;
}
.message .message_content .audio_player h5
{
    position: absolute;
    bottom: -2px;
    right: 16px;
    font-size: 12px;
    color: var(--main-color-700);
}
.message .message_content .audio_player img
{
    width: 12px;
    filter: brightness(0) saturate(100%) invert(15%) sepia(62%) saturate(5467%) hue-rotate(188deg) brightness(104%) contrast(98%);
    cursor: pointer;
}
/* End Message Component */
