/* Start Variables */
:root
{
    --main-color-100: #E0F2FE;
    --main-color-200: #B9E6FE;
    --main-color-700: #026AA2;
    --main-color-800: #00598D;
    --gray-color-400: #AFAFAF;
    --gray-color-600: #636363;
    --gray-color-700: #515151;
    --gray-color-800: #373737;
    --gray-color-900: #282828;
    --red-color-100: #FDE8E8;
    --red-color-500: #F05252;
    --green-color-400: #31C48D;
    --chat-1-color: #E0F0FF;
    --chat-2-color: #E9EAED;
}
/* End Variables */





/* Start Emojy Picker Component */
.emojy_component
{
    display: flex;
    flex-direction: column;
    background-color: rgb(250, 250, 250);
    position: absolute;
    right: 24px;
    bottom: 12vh;
    border-radius: 12px;
    border: solid 1px rgba(0,0,0,0.1);
}
.emojy_component h1
{
    font-size: 12px;
    padding: 6px 16px;
    text-align: end;
}
.emojy_component .emojisList
{
    max-height: 30vh;
    padding: 0 16px 6px 16px;
    overflow-y: scroll;
}
.emojy_component .emojisList::-webkit-scrollbar
{
    display: none;
}
.emojy_component .emojisList ul
{
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    justify-items: center;
    gap: 8px;
    list-style-type: none;
}
.emojy_component li
{
    cursor: pointer;
    font-size: 18px;
}
.emojy_component .emojisGroups
{
    padding: 6px 16px;
    border-top: solid 1px rgba(0,0,0,0.1);
}
.emojy_component .emojisGroups ul
{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    justify-items: center;
    gap: 8px;
    list-style-type: none;
}
/* End Emojy Picker Component */