/* Start Variables */
:root
{
    --main-color-700: #026AA2;
    --gray-color-400: #AFAFAF;
    --gray-color-700: #515151;
    --gray-color-800: #373737;
    --gray-color-900: #282828;
    --red-color-500: #F05252;
}
/* End Variables */




/* Start Password Input Element Component */
.form_input
{
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
}
.form_input label
{
    font-size: 14px;
    line-height: 14px;
    font-weight: 500;
}
.input_element
{
    width: 100%;
    position: relative;
}
.input_element input
{
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    padding: 12px 48px 12px 12px;
    border: solid 1px  var(--gray-color-400);
    border-radius: 8px;
}
.input_element input:focus
{
    outline: solid 1px  var(--main-color-700);
    border: solid 1px  var(--main-color-700);
}
.input_element .input_icon
{
    width: 16px;
    position: absolute;
    right: 16px;
    bottom: 50%;
    transform: translateY(50%);
}
.input_element .password_state
{
    width: 18px;
    position: absolute;
    left: 16px;
    bottom: 50%;
    transform: translateY(50%);
    cursor: pointer;
}
.error
{
    position: absolute;
    right: 0;
    top: calc(100% + 4px);
    font-weight: 800;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1%;
    color: var(--red-color-500);
}
/* End Password Input Element Component */