/* Start Variables */
:root
{
    --main-color-700: #026AA2;
    --gray-color-400: #AFAFAF;
    --gray-color-700: #515151;
    --gray-color-800: #373737;
    --gray-color-900: #282828;
    --red-color-500: #F05252;
}
/* End Variables */





/* Start Sign Up Screen */
.sign_up
{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sign_up_container
{
    width: 60%;
    height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    margin: 0 auto;
}
h2
{
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}
.sign_up_form
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
}
.sign_up_form .form_input
{
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
}
.sign_up_form .form_input label
{
    font-size: 14px;
    line-height: 14px;
    font-weight: 500;
}
.sign_up_form .input_element
{
    width: 100%;
    position: relative;
}
.sign_up_form .input_element input
{
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    padding: 12px 48px 12px 12px;
    border: solid 1px  var(--gray-color-400);
    border-radius: 8px;
}
.sign_up_form .input_element input:focus
{
    outline: solid 1px  var(--main-color-700);
    border: solid 1px  var(--main-color-700);
}
.sign_up_form .input_element img
{
    width: 16px;
    position: absolute;
    right: 16px;
    bottom: 50%;
    transform: translateY(50%);
}
.sign_up_form .error
{
    position: absolute;
    right: 0;
    top: calc(100% + 4px);
    font-weight: 800;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1%;
    color: var(--red-color-500);
}
.sign_up_form .form_inputs
{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.sign_up_form .form_inputs .form_input
{
    width: 100%;
}
.form_radios
{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.form_radios h4
{
    width: 100%;
    display: block;
}
.form_radios .radios
{
    display: flex;
    gap: 50%;
    position: relative;
}
.form_radios .form_input_radio
{
    display: flex;
    gap: 16px;
}
.form_radios .form_input_radio input
{
    width: 20px;
    cursor: pointer;
}
.form_radios .form_input_radio input:focus
{
    outline: none;
    border: none;
}
.form_radios .form_input_radio label
{
    font-size: 16px;
    font-weight: 400;
}
.form_list_input
{
    position: relative;
}
.form_list_input .input_element input
{
    cursor: pointer;
}
.form_list_input .input_element ul
{
    position: absolute;
    bottom: 0;
    z-index: 9999999;
    width: 100%;
    list-style-type: none;
    background-color: white;
    border: solid 1px  var(--gray-color-400);
    border-radius: 8px;
}
.form_list_input .input_element ul li
{
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    padding: 12px 48px 12px 12px;
    cursor: pointer;
}
.form_date_input
{
    position: relative;
}
.form_date_input .input_element input
{
    cursor: pointer;
}
.form_date_input .input_element .calendar
{
    position: absolute;
    bottom: 0;
    z-index: 9999999;
    width: 100%;
    background-color: white;
    border: solid 1px  var(--gray-color-400);
    border-radius: 8px;
    padding: 8px;
}
.calendar .calendar_option
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.calendar .calendar_option span
{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    cursor: pointer;
}
.calendar .calendar_option h1
{
    font-size: 18px;
    font-weight: 500;
}
.calendar .calendar_data ul
{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    justify-items: center;
    list-style-type: none;
}
.calendar .calendar_data ul li
{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    cursor: pointer;
}
.calendar .calendar_data ul li.selected
{
    color: white;
    background-color: var(--main-color-700);
}
.sign_up_form .form_btn button
{
    width: 100%;
    background-color: var(--main-color-700);
    border: solid 1px var(--main-color-700);
    border-radius: 4px;
    padding: 10px 0;
    font-size: 16px;
    font-weight: 600;
    color: white;
    cursor: pointer;
}
.sign_up_container h3
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: var(--gray-color-900);
    text-decoration: none;
    opacity: 50%;
}
.sign_up_container h3 span
{
    width: 25%;
    height: 1px;
    border-top: solid 1px var(--gray-color-400);
}
.sign_up_container .platforms
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 16px;
}
.sign_up_container .platforms .platform_item
{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px var(--main-color-700);
    border-radius: 4px;
    padding: 12px 24px;
    cursor: pointer;
}
.sign_up_container .platforms .platform_item img
{
    width: 25px;
}
.switch_auth h4
{
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}
.switch_auth h4 span
{
    font-weight: 700;
    color: var(--main-color-700);
    text-decoration: underline;
    cursor: pointer;
}
.sign_up_footer
{
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    border-top: solid 1px #E4E7EC;
    background-color: white;
}
.sign_up_footer .arrow_icon
{
    width: 33px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border: solid 1px #D0D5DD;
    border-radius: 8px;
    cursor: pointer;
}
.sign_up_footer .arrow_icon img
{
    width: 14px;
}
.sign_up_footer h3
{
    font-size: 18px;
    font-weight: 500;    
}
/* End Sign Up Screen */





/* Start Media Query */
/* Extra small devices (phones, portrait) */
@media (max-width: 575.98px) 
{
    .sign_up_container
    {
        width: 90%;
    }
    .sign_up_container h3
    {
        font-size: 14px;
    }
    .sign_up_container h3 span
    {
        width: 20%;
    }
    .sign_up_container .platforms .platform_item img
    {
        width: 20px;
    }
    .switch_auth h4
    {
        font-size: 14px;
        font-weight: 500;    
    }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) 
{
    .sign_up_container
    {
        width: 70%;
    }
    .sign_up_container h3
    {
        font-size: 16px;
    }
    .sign_up_container h3 span
    {
        width: 25%;
    }
    .switch_auth h4
    {
        font-size: 14px;
        font-weight: 500;    
    }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) 
{
    .sign_up_container
    {
        width: 90%;
    }
    .sign_up_container h3
    {
        font-size: 16px;
    }
    .sign_up_container h3 span
    {
        width: 25%;
    }
    .switch_auth h4
    {
        font-size: 14px;
        font-weight: 500;    
    }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) 
{
    .sign_up_container
    {
        width: 75%;
    }
    .sign_up_container h3
    {
        font-size: 16px;
    }
    .sign_up_container h3 span
    {
        width: 25%;
    }
    .switch_auth h4
    {
        font-size: 14px;
        font-weight: 500;    
    }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) 
{

}
/* End Media Query */