/* Start Variables */
:root
{
    --main-color-700: #026AA2;
    --gray-color-400: #AFAFAF;
    --gray-color-700: #515151;
    --gray-color-800: #373737;
    --gray-color-900: #282828;
}
/* End Variables */





/* Start Sign In Screen */
.sign_in_container
{
    width: 60%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    margin: 0 auto;
}
h1
{
    font-size: 28px;
    font-weight: 500;
    text-align: center;
}
.sign_in_form
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}
.sign_in_form .form_footer
{
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
}
.sign_in_form .form_footer label
{
    font-size: 14px;
    font-weight: 600;
    color: var(--main-color-700);
    cursor: pointer;
}
.sign_in_form .form_footer input
{
    cursor: pointer;
}
.sign_in_form .form_footer button
{
    position: absolute;
    left: 0;
    background-color: transparent;
    border: none;
    font-size: 16px;
    font-weight: 600;
    color: var(--gray-color-900);
    text-decoration: none;
    cursor: pointer;
}
.sign_in_form .form_btn button
{
    width: 100%;
    background-color: var(--main-color-700);
    border: solid 1px var(--main-color-700);
    border-radius: 4px;
    padding: 10px 0;
    font-size: 20px;
    font-weight: 600;
    color: white;
    margin: 16px 0;
    cursor: pointer;
}
.sign_in_form h2
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: var(--gray-color-900);
    text-decoration: none;
    opacity: 50%;
}
.sign_in_form h2::after
{
    content: '';
    width: 25%;
    height: 1px;
    border-top: solid 1px var(--gray-color-400);
}
.sign_in_form h2::before
{
    content: '';
    width: 25%;
    height: 1px;
    border-top: solid 1px var(--gray-color-400);
}
/* End Sign In Screen */



/* Start Media Query */
/* Extra small devices (phones, portrait) */
@media (max-width: 575.98px) 
{
    .sign_in_container
    {
        width: 90%;
    }
    .sign_in_form h2
    {
        font-size: 16px;
        font-weight: 400;
    }
    .sign_in_form h2::after
    {
        width: 15%;
    }
    .sign_in_form h2::before
    {
        width: 15%;
    }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) 
{
    .sign_in_container
    {
        width: 70%;
    }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) 
{
    .sign_in_container
    {
        width: 80%;
    }
    .sign_in_form h2::after
    {
        width: 15%;
    }
    .sign_in_form h2::before
    {
        width: 15%;
    }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) 
{
    .sign_in_container
    {
        width: 70%;
    }
    .sign_in_form h2::after
    {
        width: 20%;
    }
    .sign_in_form h2::before
    {
        width: 20%;
    }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) 
{

}
/* End Media Query */