/* Start Variables */
:root
{
    --main-color-700: #026AA2;
    --gray-color-400: #AFAFAF;
    --gray-color-700: #515151;
    --gray-color-800: #373737;
    --gray-color-900: #282828;
    --red-color-500: #F05252;
}
/* End Variables */



/* Start Platforms Auth */
.platforms
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 16px;
}
.platforms .platform_item
{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px var(--main-color-700);
    border-radius: 4px;
    padding: 12px 24px;
    cursor: pointer;
}
.platforms .platform_item img
{
    width: 25px;
}
/* End Platforms Auth */



/* Start Media Query */
/* Extra small devices (phones, portrait) */
@media (max-width: 575.98px) 
{
    .sign_up_container .platforms .platform_item img
    {
        width: 20px;
    }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) 
{

}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) 
{

}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) 
{

}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) 
{

}
/* End Media Query */