/* Start Variables */
:root
{
    --main-color-700: #026AA2;
    --gray-color-400: #AFAFAF;
    --gray-color-700: #515151;
    --gray-color-800: #373737;
    --gray-color-900: #282828;
    --red-color-500: #F05252;
}
/* End Variables */



/* Start Switch Auth */
.switch_auth h1
{
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}
.switch_auth h1 span
{
    font-weight: 700;
    color: var(--main-color-700);
    text-decoration: underline;
    cursor: pointer;
}
/* End Switch Auth */



/* Start Media Query */
/* Extra small devices (phones, portrait) */
@media (max-width: 575.98px) 
{
    .switch_auth h4
    {
        font-size: 14px;
        font-weight: 500;    
    }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) 
{
    .switch_auth h4
    {
        font-size: 14px;
        font-weight: 500;    
    }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) 
{
    .switch_auth h4
    {
        font-size: 14px;
        font-weight: 500;    
    }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) 
{
    .switch_auth h4
    {
        font-size: 14px;
        font-weight: 500;    
    }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) 
{

}
/* End Media Query */