/* Start Variables */
:root
{
    --main-color-700: #026AA2;
    --gray-color-400: #AFAFAF;
    --gray-color-700: #515151;
    --gray-color-800: #373737;
    --gray-color-900: #282828;
}
/* End Variables */




/* Start About Us Section */
section
{
    width: 100%;
    background: url(../../../../assets/landingPage/aboutUs/line.png) no-repeat;
}
.section_container
{
    width: 90%;
    margin: auto;
}
.section_content
{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    padding: 24px 0;
}
.about_us_photo{
    position: relative;
}
.about_us_photo img{
    
}
.about_us_clients{
    /*  */
    position: absolute;
    top: 50%;
    right: 0;
    background-color: #fff;
    border-radius: 12px;
    padding: 15px;
    width: 300px;
    text-align: left;
    border: 1px solid #ddd;
}
.clients_photos{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.avatars img{
    margin: -5px;
}
.counter {
    font-size: 22px;
    font-weight: bold;
}
.about_us_clients p{

}

.plus {
    color: var(--main-color-700);
}

.about_us_text h2{
    font-size: 28px;
    font-weight: 600;
    text-align: right;
    color: var(--main-color-700); 
}
.about_us_text p{
    font-size: 20px;
    font-weight: 500;
    color: var(--gray-color-700);
}
.about_us_text p span{
    font-weight: bold;
    color: var(--main-color-700);
}



/* Extra small devices (phones, portrait) */
@media (max-width: 575.98px) 
{

}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) 
{

}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) 
{

}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) 
{

}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) 
{

}



/* End About Us Section */