/* Start Variables */
:root
{
    --main-color-700: #026AA2;
    --gray-color-400: #AFAFAF;
    --gray-color-700: #515151;
    --gray-color-800: #373737;
    --gray-color-900: #282828;
}
/* End Variables */





/* Start Contact Us Section */
section
{
    width: 100%;
}
.section_container
{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.section_content
{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    padding: 24px 0;
}
.contact_us_form
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
}
.contact_us_form .form_row
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 15%;
}
.contact_us_form .form_input
{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.contact_us_form .form_input label
{   
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: var(--gray-color-800);
}
.contact_us_form .form_input input
{
    width: 100%;
    padding: 16px;
    border: solid 1px var(--gray-color-400);
    border-radius: 8px;
    box-shadow: 0 1px 2px #1018280D;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.contact_us_form .form_input input:focus
{
    outline: none;
}
.contact_us_form .form_input textarea
{
    width: 100%;
    padding: 16px;
    border: solid 1px var(--gray-color-400);
    border-radius: 8px;
    box-shadow: 0 1px 2px #1018280D;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    resize: none;
}
.contact_us_form .form_input textarea:focus
{
    outline: none;
}
.contact_us_form .form_terms
{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
}
.contact_us_form .form_terms label
{
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
}
.contact_us_form .form_terms a
{
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;    
    color: var(--main-color-700);
    text-decoration: none;
}
.contact_us_form form button
{
    padding: 8px;
    background-color: var(--main-color-700);
    border: solid 1px var(--main-color-700);
    border-radius: 4px;
    font-size: 18px;
    font-weight: 600;
    line-height: 36px;
    color: white;
    cursor: pointer;
}
.contact_photo img
{
    width: 100%;
}
/* End Contact Us Section */





/* Start Media Query */
/* Extra small devices (phones, portrait) */
@media (max-width: 575.98px) 
{
    .section_content
    {
        grid-template-columns: 1fr;
        gap: 50px;
    }
    .section_content .form
    {
        order: 2;
    }
    .section_content .contact_photo
    {
        order: 1;
    }
    .contact_us_form .form_row
    {
        flex-direction: column;
        gap: 24px;
    }
    .contact_us_form .form_terms
    {
        align-items: start;
    }
    .contact_us_form .form_terms label
    {
        font-size: 16px;
    }
    .contact_us_form .form_terms a
    {
        font-size: 16px;
    }
    .contact_us_form form button
    {
        padding: 4px;
        font-size: 14px;
    }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) 
{
    .section_content
    {
        grid-template-columns: 1fr;
        gap: 50px;
    }
    .section_content .form
    {
        order: 2;
    }
    .section_content .contact_photo
    {
        order: 1;
    }
    .contact_us_form .form_row
    {
        flex-direction: column;
        gap: 24px;
    }
    .contact_us_form .form_terms
    {
        align-items: start;
    }
    .contact_us_form .form_terms label
    {
        font-size: 16px;
    }
    .contact_us_form .form_terms a
    {
        font-size: 16px;
    }
    .contact_us_form form button
    {
        padding: 4px;
        font-size: 14px;
    }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) 
{
    .contact_us_form
    {
        gap: 16px;
    }
    .contact_us_form .form_row
    {
        gap: 24px;
    }
    .contact_us_form .form_input label
    {   
        font-size: 14px;
    }
    .contact_us_form .form_input input
    {
        padding: 10px 14px;
        font-size: 16px;
        font-weight: 400;
    }
    .contact_us_form .form_terms label
    {
        font-size: 16px;
    }
    .contact_us_form .form_terms a
    {
        font-size: 16px;
    }
    .contact_us_form form button
    {
        padding: 4px;
        font-size: 14px;
    }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) 
{

}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) 
{

}
/* End Media Query */